<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'menu.html' %}

<p> Эта страница показывает решением питоновской задачи силами шаблонизатора Jinja.
Условие: требуется написать шаблон, который обрабатывает словарь под именем numbers из строчного ключа и численного значения. Если ключ состоит только из цифр, тогда ключ и значение нужно сравнить и вывести меньшее из этих значений.
    Чтобы преобразовать строку к числу используйте фильтр int. </p>



<p> Sample Input:

numbers={'string': 0, 'f2': 1, '15': 6, 'g3': -8, '19': 19, 'b2c5f': 11, '09': 90}

Sample Output:

6199</p>

<p> Решение на жиже:
{% for key, value in numbers.items() %}
        {{ [key | int, value] | min if key|int}}

{% endfor %}</p>


<p> Почему, зачем, я хрен знает. Просто так можно. Жижовский скрипт внутри html файла.

</p>

</body>
</html>